{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.11.2"}
        cheshire/cheshire {:mvn/version "6.1.0"}
        clj-http/clj-http {:mvn/version "3.13.1"}
        prismatic/schema {:mvn/version "1.4.1"}
        clj-stacktrace/clj-stacktrace {:mvn/version "0.2.8"}
        org.clojure/core.memoize {:mvn/version "1.0.236"}
        org.clojure/tools.logging {:mvn/version "0.5.0"}}
 :aliases {:dev {:extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                              circleci/bond {:mvn/version "0.6.0"}
                              speculative/speculative {:mvn/version "0.0.3"}}}}}
